.App {
  text-align: center;
  height: 100vh;

  display: flex;
  overflow: auto;
}

.Side {
  width: 300px;
  border-right: 1px solid black;
}

/* .TranscriptInput {
  width: 100%;
} */

.Main {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.Paragraph {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.Text {
  white-space: pre-line;
  border-bottom: 1px solid black;
}

.Start {
  font-weight: bold;
}

.ScriptContainer {
  flex-grow: 1;
  overflow: auto;
}
